*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*Google fonts*/
 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
/*Body para movibe first 320px*/
/*Header nav*/
header{
    background: linear-gradient(#d6b7ed, white);
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans', sans-serif;
    align-items: center;
}
header img{
    margin: 10px auto;
    width: 5rem;
}
.menu_container{
    border-top:  1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
header nav ul li{
    margin: 5px 5px;
}
.menu_link{
    color: slategray;
    font-size: 0.65rem;
    text-decoration: none;
    font-weight: 750;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
/*secciones*/

.cc1{
    text-align: left;
    font-size: 0.85rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    line-height: 70px;
    color: rgb(70, 82, 94);
}
.cc2 h2{
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 30px;
    color: rgb(70, 82, 94);
}
.cc2 p{
    text-align:justify;
    font-size: 0.75rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 18px;
    color: rgb(70, 82, 94);
}
.grid-nos-img{
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
}
.grid-cc1{
    text-align: left;
    font-size: 0.75rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400px;
    line-height: 70px;
    color: rgb(70, 82, 94);
}
.grid-cc2{
    text-align:justify;
    font-size: 0.75rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 18px;
    color: rgb(70, 82, 94);
}
.serv-img{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
}
.eul{
    border-bottom: 1px solid #ccc;
    margin: 20px;
}

.eli{
    display: flex;
    align-items: center;
}
.etitle1{
    display: flex;
    align-items: center;
    margin: 40px 0px;
}
.einicio{
    color: rgb(156, 164, 172);
    font-size: 0.9rem;
    text-decoration: none;
    font-weight:normal;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.etitle{
    display: inline;
    color: rgb(70, 82, 94);
    font-size: 1.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    line-height: 20px;
}
.Logos-contac{
    display: inline;
    width: 5%;
    height: auto;
    margin: 3px 5px 3px 0px; 
}
.elink{
    color: slategray;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 750;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 10px 0px 10px 0px;
}
.telefono{
    display: block;
    align-items: center;
    color: slategray;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 750;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0px 0px 0px 0px; 
}
.form_class{
    display: inline-block;
    align-items:center;
}
.form_class2 {
    border-radius: 5px;
    border-color: #d6b7ed;
    color: slategray;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.form_class3 {
    border-radius: 5px;
    border-color: #d6b7ed;
    color: slategray;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
input{
    background: linear-gradient(#d6b7ed, white);
    border-radius: 5px;
    border-color:#d6b7ed;
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.promo{
    margin: auto;
    width: 3rem;

}

/* Footer */
footer {
    background: linear-gradient( white, #d6b7ed);
    display: grid;
    padding: 20px;
    font-size: 14px;
}
footer img{
    margin: auto;
    width: 3rem;
}  
h3{
    text-align:left;
    color: slategray;
    font-size: 0.7rem;
    font-weight: 750;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: underline;
}  
 footer div ul{
    list-style:none;
    padding: 0;
    margin: 0;
}  
.contac{
    color: slategray;
    font-size: 0.65rem;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }  
iframe {
    width: 100%;
    height: 150px;
    padding: 5px;
  }

/* ============================================================== */
/*Medida Tablet*/
@media (min-width: 501px) and (max-width: 960px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
    }
    .logo{
        width: 5rem;
        margin:auto;
    }
    .menu_link{
        margin: 10px;
    }
    .menu_link{
        font-weight: 600;
        font-size: 0.9rem;
    }
    .menu_container{
        border-top:  none;
        border-bottom: none;
    }
   .cc2 p{
        display: flex;
        text-align: justify;
        font-size: 0.9rem;
        margin:5px;
        padding: 5px;
    }
    .grid_container{
        display: grid;
        width:100%;
        height: 500px;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
            "grid-cc1 grid-cc1 grid-cc1"
            "grid-cc2 grid-cc2 grid-cc2"
            "grid-nos-img grid-nos-img grid-nos-img";
    }
    .grid-cc1{
        grid-area: grid-cc1;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        line-height: 10px;
        margin: 25px;
    }
    
    .grid-cc2{
        grid-area: grid-cc2;
        display: flex;
        justify-content:space-between;
        font-size: 0.9rem;
        line-height: 20px;
        margin: 10px;
    }
    section div img{
        grid-area: grid-nos-img;
    }
    .grid-nos-img{
        display: flex;
        width: 100%;
        height: 220px;
        justify-content: center;
    }
    .footer_container{
        display: grid;
        width:100%;
        height: 200px;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 50px 200px auto;
        grid-template-areas:
            "footer_logo column1 column2"
            "footer_logo column1 column2";
    }
    .footer_logo{
        grid-area: footer_logo;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
    }
    .column1{
        grid-area: column1;
        display: flex;
        justify-content: center;
    }
    .column2{
        grid-area: column2;
        
    }
    .contac{
        margin: 10px;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 30px;
    } 
    footer h3{
        font-size: 0.9rem;
    } 
    .form_class{
        display: grid;
        width:90%;
        height: 300px;
        margin-left: 20px;
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: 400px 200px;
        grid-template-areas:
            "form1 form1"
            "form2 form3"
            "form2 form3" 
    }    
    .form_class2{
        grid-area: form1;
        margin: 10px 0px 10px 0px;
        width: 100%;
        height: 30px;
    }
    .form_class3{
        grid-area: form2;

    }
    .buttom{
        grid-area: form3;
        margin-left: 20px;
        width: 100%;
        height: 30px;
    }
}
/*Medida desktop*/
@media only screen and (min-width: 961px){
    header{
        background: linear-gradient(#d6b7ed, white);
        display: flex;
        flex-direction: row;
        font-family: 'Plus Jakarta Sans', sans-serif;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
    }
    .logo{
        width: 6rem;
        margin:auto;
    }
    .menu_link{
        margin: 10px;
    }
    .menu_link{
        font-weight: 700;
        font-size: 1rem;
    }
    .menu_container{
        border-top:  none;
        border-bottom: none;
    }
    .cc1{
         font-size: 1.5rem;
    }
    .cc2 h2{
        font-size: 1.3rem;
        line-height: 20px;
        margin: 25px;
    }
    .cc2 p{
        text-align: center;
        font-size: 1.1rem;
        line-height: 30px;
    }
    .grid_container{
        display: grid;
        width:100%;
        height: 650px;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
            "grid-cc1 grid-cc1 grid-cc1"
            "grid-nos-img grid-cc2 grid-cc2"
            "grid-nos-img grid-cc2 grid-cc2";
    }
    .grid-cc1{
        grid-area: grid-cc1;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        line-height: 30px;
        margin: 25px;
    }
     .grid-cc2{
        grid-area: grid-cc2;
        display: flex;
        justify-content:space-between;
        font-size: 1.3rem;
        line-height: 30px;
        margin: 25px;       
    }
    section div img{
        grid-area: grid-nos-img;
        width: 100%;
        height: auto;
    }
    .footer_container{
        display: grid;
        width:100%;
        height: 200px;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 100px 400px auto;
        grid-template-areas:
            "footer_logo column1 column2"
            "footer_logo column1 column2";
    }
    .footer_logo{
        grid-area: footer_logo;
        margin: 5px;
        padding: 5px;
        width: 100%;
        height: auto;
    }
    .column1{
        grid-area: column1;
        display: flex;
        justify-content: center;
    }
    .column2{
        grid-area: column2;
        
    }
    .contac{
        margin: 10px;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 30px;
    } 
    footer h3{
        font-size: 0.9rem;
    } 
    .form_class{
        display: grid;
        width: 100%;
        height: 400px;
        margin-left: 20px;
        grid-template-rows: 150px 150px 70px;
        grid-template-columns: 300px 300px;
        grid-template-areas:
            "form1 form1"
            "form2 form2"
            "form3 form3" 
    }  
    .form_class2{
        grid-area: form1;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        height: 30px;
    }
    .form_class3{
        grid-area: form2;
        width: 100%;
        margin: 10px 0px 0px 0px;

    }
    .buttom{
        grid-area: form3;
        margin-left: 0px;
        width: 100%;
        height: 30px;
    }
    .elink{
        font-size: 1rem;
        margin-left: 10px;
    }
    .Logos-contac{
        width: 2.5%;
    }
    .telefono{
        font-size: 1rem;
        margin-left: 10px;
    }

}
