//Medida Tablet
@media screen and (min-width: 501px) and (max-width: 960px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
    }
    .logo{
        width: 8rem;
        margin: auto;
        padding: auto;
    }
    .menu_link{
        margin: 10px;
    }
    .menu_link{
        font-weight: 600;
        font-size: 0.9rem;
    }
    .menu_container{
        border-top:  none;
        border-bottom: none;
    }
   .cc2 p{
        display: flex;
        text-align: justify;
        font-size: 0.9rem;
        margin:5px;
        padding: 5px;
    }
    .grid_container{
        display: grid;
        width:100%;
        height: 500px;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
            "grid-cc1 grid-cc1 grid-cc1"
            "grid-cc2 grid-cc2 grid-cc2"
            "grid-nos-img grid-nos-img grid-nos-img";
    }
    .grid-cc1{
        grid-area: grid-cc1;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        line-height: 10px;
        margin: 25px;
    }
    
    .grid-cc2{
        grid-area: grid-cc2;
        display: flex;
        justify-content:space-between;
        font-size: 0.9rem;
        line-height: 20px;
        margin: 10px;
    }
    section div img{
        grid-area: grid-nos-img;
    }
    .grid-nos-img{
        display: flex;
        width: 100%;
        height: 220px;
        justify-content: center;
    }
    div.card.neon-border {
        margin: 20px;
    }
    .footer_container{
        display: grid;
        width:100%;
        height: 200px;
        padding: 5px;
        overflow-x: hidden; 
        grid-template-areas:
            "footer_logo column1 column2";
    }
    .footer_logo{
        grid-area: footer_logo;
    }
    .content-logo{
        display: flex;
        margin: auto;
        padding: 0px;
    }
    .column1{
        grid-area: column1;
        display: flex;
        margin: auto;
        padding: 0px;
    }
    .column2{
        grid-area: column2;
    }
    .contac{
        margin: 10px;
        font-size: 0.9rem;
        font-weight: 700;
    } 
    footer h3{
        font-size: 0.9rem;
        margin: 5px;
    }
    iframe {
        height: 80%;
    }
    .form-container{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: center;
    }
    .form_class{
        display: grid;
        width:90%;
        height: 300px;
        padding: 10px;
        overflow-x: hidden; 
        grid-template-areas:
            "class2 buttom"
            "class3 class3"
            "class3 class3";
    }
    .form_class2{
        grid-area: class2;
        margin: 5px;
    }
    .form_class3{
        grid-area: class3;
    }
    input{
        grid-area: buttom;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 90%;
        height: 30px;
    }
    .neon-border{
        margin: 25px;
    }
    section h2{
        margin-left: 40px;
        padding: 0px;
    }
    .card-mobile{
        margin-bottom: 35px;
    }
    .card-cont{
        width: 90%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        margin: 10px;
     }
    .card_service {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        width: 90%;
        margin: 20px;
    }
}