.card-mobile {
    
    .card-group {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: center;
      flex-direction: column;
      
      .card {
        flex: 0 0 auto;
        margin-right: 10px;
  
      
      }
  
      .neon-border {
        border: 2px solid rgb(175, 173, 173);
        box-shadow: 0 0 10px #b9b9b9;
  
        .tamaño-img {
          width: 50%;
          height: auto;
        }
      }
  
      .card-body {
        padding: 10px;
        color: white;
  
        .card-title {
          margin: 5px;
          padding: 5px;
          font-size: 1rem;
          color: white;
  
          .card-titulomio {
            font-weight: bold;
            text-align: center;
            font-size: 0.8rem;
            font-weight: bold;
            font-family: 'Big Shoulders Display', cursive;
            color: white;
          }
        }
      }
    }
}
  


              
              
            