.grid_container{
    .grid-cc2{
        text-align:justify;
        font-size: 0.75rem;
        font-family: 'Big Shoulders Display', cursive;
        line-height: 18px;
        color: white;
    }
    .grid-nos-img{
        display: flex;
        width: 100%;
        height: 220px;
        justify-content: center;
        }

}